@font-face {
  font-family: "HK";
  src: url(fonts/TTF/HKGrotesk-Regular.ttf) format("truetype");
}
* {
  font-family: "HK";
  font-size: 14px;
}

.root {
  padding: 32px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

embed {
  height: 100vh;
  width: 80vw;
}
