@font-face {
  font-family: "HK";
  src: url(fonts/TTF/HKGrotesk-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "HK-ExtraBold";
  src: url(fonts/TTF/HKGrotesk-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: "HK-Bold";
  src: url(fonts/TTF/HKGrotesk-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "HK-SemiBold";
  src: url(fonts/TTF/HKGrotesk-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "HK-Italic";
  src: url(fonts/TTF/HKGrotesk-Italic.ttf) format("truetype");
  font-weight: 800;
}
* {
  font-family: "HK";
  font-size: 14px;
}

.root {
  padding: 32px;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.top-half {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 128px;
  background-color: whitesmoke;
}
.bot-half {
  position: absolute;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
a {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  color: black;
}
a:hover {
  color: rgb(0, 255, 0);
  cursor: pointer;
}

.name {
  display: inline-block;
  vertical-align: text-bottom;
  font-size: 24px;
  font-family: "HK-Bold";
  line-height: 0.8em;
  margin-bottom: 8px;
}
.hlink {
  font-weight: 600;
  display: inline-block;
  margin-right: 8px;
  font-size: 16px;
  margin-bottom: 8px;
}
